body{

}
.nav-color {
     background: #009688;
     width: 100%;
 }
.search-bar input[type="text"] {
     background-color: #8D6E63;
     color: #9E9E9E;
     border: none;
     padding: 5px;
     border-radius: 3px 0 0 3px;
}

.search-button {
     background-color: #8D6E63;
     color: #263238;
     border: none; /* Remove default border */
     padding: 5px 10px;
     border-radius: 0 3px 3px 0; /* Rounded corners */
     cursor: pointer;
}

.search-button:hover {
     background-color: #A1887F; /* Change color on hover */
}

.container {
    background-color: #90A4AE;
    width : 70%;
    height : 100vh;
    text-align: center;
    padding: 0;
}

.img{
    text-align: center;
}

.image{
    max-width: 30%;
}

.bttn {
     font-size : 20px;
     font-weight: bold;
     background-color: #43A047;
     color: #263238;
     cursor: pointer; /* Add pointer cursor */
     border: none;
}

.bttn:hover {
     background-color: #A1887F; /* Change color on hover */
}

.form-div {
    display:flex;
    justify-content: center;
    align-items:center;
}

.form-body{
    background-color: #757575 ;
    width : 50% ;
    border: 2px solid #000;
    padding: 20px;
}

.logout-btn {
      background-color: #C0392B;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: border-radius: 0 3px 3px 0;;
      cursor: pointer;
}

.logout-btn:hover {
    background-color: #0056b3;
}



