body{

    background-color: #B0BEC5;
}
.nav-color {

     background: #009688;
     width: 100%;
     margin: 0px;
 }
 .search-bar input[type="text"] {
     background-color: #8D6E63;
     color: #9E9E9E; /* Adjust text color for contrast */
     border: none; /* Remove default border */
     padding: 5px; /* Add some padding */
     border-radius: 3px 0 0 3px; /* Rounded corners */
 }

 search-button {
     background-color: #8D6E63;
     color: #263238;
     border: none; /* Remove default border */
     padding: 5px 10px; /* Add some padding */
     border-radius: 0 3px 3px 0; /* Rounded corners */
     cursor: pointer; /* Add pointer cursor */
 }

 .search-button:hover {
     background-color: #A1887F; /* Change color on hover */
 }

.container {
    background-color: #90A4AE;
    width : 70%;
    }

.img{

    text-align: center;
}

.image{
    max-width: 30%;

}


